node_modules/
.expo/
dist/
.DS_Store
*.log

mobile/ios/Pods/
mobile/ios/build/
mobile/ios/DerivedData/
mobile/ios/*.xcworkspace/xcuserdata/
mobile/ios/*.xcodeproj/xcuserdata/

mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/

server/.gradle/
server/build/
server/.env
infra/.env
